body {
  max-width: 90%;
  margin: auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
  padding: 5px;
  /* background-color: #f9fbfb;
  color: #3a4a4d; */
  background-color: #3a4a4d;
  color: #f9fbfb;
}

* {
  margin: auto;
}

h1 {
  width: 75%;
  color: white;
  border: 4px solid red;
  text-align: center;
  padding: 10px;
  margin-bottom: 2%;
  font-size: 1.8em;
  font-weight: bold;
  background-color: blue;
  border-radius: 100px;
}

h2 {
  width: 75%;
  margin-bottom: 1%;
  font-weight: bold;
  font-size: 1.5em;
}

a {
  font-size: 1.5em;
}

p {
  width: 75%;
  padding: 5px;
  text-align: justify;
}

section {
  width: 75%;
  padding: 10px;
}

ul,
ol {
  width: 75%;
  margin: auto;
}

hr {
  margin: 2%;
}
